@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Funnel+Display:wght@300..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Questrial&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #f8f2f4;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 0rem;
}

::-webkit-scrollbar {
    width: 1rem;
}

h1,
h2,
h3,
h4,
h5,
p {
    text-wrap: balance;
}

input,
textarea,
button {
    font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

:root {
    --primaryColor: #ffffff;
    --secondaryColor: #660700;
    --darkColor: #33030070;
    --lightColor: #ff0f00;
    --regularFont: 1.4rem;
    --headingFont: 2rem;
    --ffPrimary: "Roboto Condensed", sans-serif;
    --ffSecondary: "Merienda", cursive;
}

.align {
    max-width: 1200px;
    margin: auto;
    padding: 0 3rem;
}

.componentSpacing {
    padding: 3rem 2rem;
}

.miniPad {
    padding: 1 rem;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dflex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dflex-col-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.dflex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ::: PARENT CONTAINER Code Starts here::: */
header {
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: auto;
}

/* ::: PARENT CONTAINER Code Ends here */
/* ::: HEADER Code Starts here::: */

/* navContainer */
.navBar {
    background-color: white;
    padding: 24px 0;
}
.navBody{
    padding:0 20rem;
}
.logo img {
    height: 3rem;
    width:auto;  
}
.firstCover {
    padding-right: 30rem;
    gap: 5px;
}
.navlinks {
    padding-left: 30rem;
}
.firstCover a {
    font-family: "Funnel Display", sans-serif;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    color: #ED0007;
}
.navlinks a, li{
    list-style-type: none;
    color: black;
}
.navlinks {
    gap: 20px;
    font-size: 20px;
}

/* HeroContainer */
.heroSection {
    background-color: white;
}

.heroContent {
    padding: 5rem 0;
}
.head1 a {
    font-family: "Red Hat Text", sans-serif;
    font-size: 64px;
    color: black;
    padding-left: 18rem;
}

.head1:hover h1 {
    background-color: #000000;
}

.head1:hover a {
    color: #007bc0;
}

/* image */
.image {
    background-color: white;
}

.heading1 h4 a {
    font-size: 20px;
    list-style-type: none;
    color: black;
}

.heading1 {
    padding: 2rem 0;
}

.heading1:hover a {
    color: #007bc0;
}

.about {
    padding-left: 15rem;
}
.image_2{
    width:115%
}
.about:hover li {
    text-decoration: underline;
}

.aboutus li {
    padding-bottom: 2rem;
}

.aboutus li,
a {
    font-family: "Red Hat Text", sans-serif;
    color: blue;
    list-style-type: none;
    text-decoration: none;
}

.aboutus {
    font-size: 16px;
}

.industry {
    padding-top: 5rem;
    background-color: white;
}

.industryHeading {
    padding-left: 20rem;
    font-family: "Red Hat Text", sans-serif;
    font-size: 20px;
}

.image {
    padding-bottom: 5rem;
}

.image1Body {
    padding: 5rem 20rem;
    gap: 2rem;
}

.firstimg img {
    width: 100%;
    object-fit:contain;
    padding:0;
}
.imgtext{
    background-color: #efeeee;
}
.imgtext h3 {
    padding: 2.5rem 0 ;
    font-size: 17px;
    font-weight: 500;
    font-family: "Red Hat Text", sans-serif;
}
.futureContainer {
    background-color: white;
    padding: 0 34rem 0 20rem;
}
.futureHeading {
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    padding-bottom: 5rem;
}
.play2 {
    background-color: #eff1f2;
    padding: 10rem;
}
.playBody {
    padding-bottom: 5rem;
}
.insidepara {
    font-size: 12px;
    font-family: "Red Hat Text", sans-serif;
}

.outsidepara {
    font-size: 12.8px;
    text-align: center;
    font-family: "Red Hat Text", sans-serif;
}

.play {
    padding-bottom: 50px;
}

.play button {
    padding: 1rem 2rem;
    background-color: #007bc0;
    color: white;
    border-color:white;  
}
.play:hover button {
    background-color: #005587;
}
.youtube {
    gap: 10px;
    font-size: 16px;
}
.legacyBody{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 20rem;
}
.legacy2 a {
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
}

.legacy {
    padding: 5rem 0;
    background-color: white;
}

.legacyHeading {
    padding-left: 20rem;
    padding-bottom: 5rem;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
}

.legacy2 p {
    font-size: 16px;
    font-family: "Red Hat Text", sans-serif;
    padding:0 20rem 2rem 0;
}

.storytext a {
    font-size: 16px;
    color: black;
    font-family: "Red Hat Text", sans-serif;
    padding:2rem 0;
}
.story2{
    padding:2rem 0;
}
.storycard{
    background-color: #efeeee;
}

.stories {
    background-color: white;
}

.storiesHeading {
    padding-left: 20rem;
    padding-bottom: 5rem;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
}

.storyBody {
    padding: 2rem 20rem;
    gap: 2rem;
}

.storyBody1 {
    padding: 5rem 20rem;
    gap: 2rem;
}

.story1 a {
    font-size: 16px;
    font-family: "Red Hat Text", sans-serif;
}

.getBody {
    margin: 0 20rem;
}

.getBody {
    background-color: #eff1f2;
    padding:5rem 0;
    
}
.get1 h3 {
    font-family: "Red Hat Text", sans-serif;
    font-size: 20px;
    color: black;
    padding-bottom:1.5rem;
}
.get1 {
    padding-left: 20rem;
}
.get1 li{
    padding-bottom:1.5rem;
}
.welook {
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    color: black;
    list-style-type: none;
}
.we {
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    color: black;
    list-style-type: none;
}
.we1 {
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    color: #005587;
    list-style-type: none;
}

.write h3 {
    display: flex;
    flex-direction: column;
    font-family: "Red Hat Text", sans-serif;
    font-size: 20px;
    color: black;
    padding-bottom: 1.5rem;
}

.write li {
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    color: #005587;
    list-style-type: none;
    padding-bottom: 1.5rem;
}

.media i {
    font-size: 24px;
    color: black;
}

.media {
    list-style-type: none;
    padding-right: 50rem;
    gap: 20px;
}

.media li {
    margin-right: 20px;
}

.contact {
    background-color: white;
    padding: 5rem 0;
}
.joinBody{
    gap:5rem;
}

.join1 {
    background-color: black;
    font-size: 24px;
    font-family: "Red Hat Text", sans-serif;
    padding: 10rem;
}

.join1 a {
    color: white;
}
.social {
    background-color: black;
    font-size: 24px;
    font-family: "Red Hat Text", sans-serif;
    padding: 10rem;
}

.social a {
    color: white;
}

.joinContainer {
    background-color: white;
    padding-bottom: 5rem;
}

.joinBody {
    padding: 5rem 20rem;
}

.get {
    background-color: #eff1f2;
    padding-left:20rem;
    font-size: 24px;
    font-family: "Red Hat Text", sans-serif;
}

.search{
    background-color: #eff1f2;
}
.search1 {
    padding: 2rem 16rem;
    font-size: 24px;
    font-family: "Red Hat Text", sans-serif;
}
.icons {
    padding: 2rem;
    font-size: 24px;
}
.search1 i {
    padding: 0 2rem;
}

.get2 {
    font-size: 20px;
}
.get2 h4 {
    font-family: "Red Hat Text", sans-serif;
    padding-bottom: 2rem;
}
.list2 {
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    justify-content: flex-start;
    gap: 10px;
}
.getlistBody {
    padding: 5rem 20rem;
}
.searchContainer {
    background-color: white;
    padding-bottom: 5rem;
}

.socialmedia {
    list-style-type: none;
    font-size: 25px;
    justify-content: flex-start;
    gap:5rem;
    padding-left:49rem;
}

.socialmedia a {
    color: black;
}

.list {
    font-size: 15px;
    font-family: "Red Hat Text", sans-serif;
    padding-left: 10rem;
    list-style-type: none;
    gap: 10px;
}
.media {
    gap: 5px;
}
.line{
    height:0.5px;
    width:114rem;
    background-color:black;
    margin-left:20rem;
}
.privacyBody{
    background-color: #ffffff;
    padding:3rem 0;
}
.privacy1 {
    font-size: 15px;
    font-family: "Red Hat Text", sans-serif;
    padding-right: 2rem;
}

/* :::FOOTER Code Ends here::: */
/* ::: RESPONSIVE DESIGN DEVICE SIZES::: */
/* for Responsive Target the Row Code (display:grid) */
/* Small devices(landscape phones, upto 576px and below) */
@media (width <=576px) {

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .navBody{
         display: flex;
        justify-content: space-between;
        padding:0;
    }
    .navlinks{
        padding:0;
        padding-right:1rem;
        font-size: 16px;
    }
    .logo img{
        width:auto;
        height:24px;  
    }
    .firstCover a{
        font-size: 16px;
    }
    .head1 a {
        font-size: 25px;
        padding: 2rem;
    }

    .image_2 {
        height: auto;
        width: 540px;
    }

    .image_3 img {
        height: auto;
        width: 537px;
        padding: 2rem 0 0 2rem;
    }

    .about {
        padding: 0;
    }

    .aboutus {
        padding: 0 2rem;
    }

    .aboutus li {
        padding-bottom: 2rem;
    }

    .heading1 {
        padding: 0 0 2rem 2rem;
    }

    .industryHeading {
        padding: 0 0 2rem 2rem;
        font-size: 14px;
    }

    .image1Body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }

    .image {
        padding: 0;
    }

    .image_2 {
        width: 100%;
        object-fit: contain;
    }

    .image_3 {
        width: 100%;
        object-fit: contain;
    }

    .firstimg img {
        width: 100%;
        object-fit: contain;
    }

    .image1Body {
        padding: 0 2rem 0 2rem;
    }

    .futureContainer {
        padding: 0 2rem 0 2rem;
    }

    .futureHeading {
        padding: 2rem 0;
        font-size: 14px;
    }

    .playBody2 {
        padding: 0;
    }
    .play2 {
        padding: 5rem 0;
    }
    .play {
        gap:2rem;
    }
    .insidepara {
        font-size: 10px;
        text-align: center;
    }
    .outsidepara {
        font-size: 10px;
        padding: 0;
        text-align: justify;
    }
    .legacy {
        padding: 0;
    }
    .legacyBody{
    padding:0;
    }
    .legacyHeading {
        padding:0;
        padding: 0 0 2rem 2rem;
        font-size: 14px;
    }

    .legacy1 img {
        height: auto;
        width: 440px;   
        padding: 0 2rem 2rem 0;
    }

    .legacy2 p {
        padding: 0 0 2rem 2rem;
    }

    .legacy2 a {
        padding-left: 2rem;
    }

    .storiesHeading {
        padding: 5rem 0 2rem 2rem;
        font-size: 14px;
    }

    .storyBody {
        padding: 2rem 2rem 2rem 2rem;
    }

    .storyBody1 {
        padding: 2rem 2rem 2rem 2rem;
    }
    .getBody {
        margin: 0;
        padding: 0;
    }

    .get1 {
        padding: 2rem;
    }

    .write {
        padding: 2rem;
    }

    .media {
        padding: 0;
        justify-content: flex-start;
    }
    .getBody {
        padding-top: 2rem;
    }
    .getlistBody{
        padding:0;
        padding-top:3rem;
    }
    .contact {
        padding: 0 2rem 0 2rem;
    }
    .welook {
        padding: 1rem 0;
    }
    .we1 {
        padding-bottom: 1rem;
    }
    .write h3 {
        padding-bottom: 1rem;
    }
    .join {
        padding: 0;
    }
    .joinBody {
        padding: 5rem 2rem 0 2rem;
        gap:1.5rem;
    }
    .join1 {
        margin-bottom: 1rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .join1 a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .social {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .social a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .searchContainer {
        padding: 2rem 2rem;
    }
    .searchBody{
        flex-direction: column; 
        align-items:flex-start;
    }
    .search1 {
        justify-content: space-between;
        padding: 0 2rem;
    }
    .get h5 {
        font-size: 20px;
    }
    .get {
        padding: 2rem;
    }

    .socialmedia {
        gap: 5rem;
        padding:5rem 0 0 2rem;
        display: flex;
        justify-content: flex-start;
    }

    .get2 {
        padding-left: 2rem;
    }

    .list2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .privacy1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom:2rem;
    }

    .privacy1 p {
        padding-top: 2rem;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
    /* .line{
        height:0.5px;
        width:10rem;
        background-color:black;
        /* margin:0 2rem 0 2rem; 
    } */
}

/* Medium devices(tablets, upto 768px and above) */
@media (width >=577px) and (width <=768px) {}

/* Large devices(Laptop, upto 992px and above) */
@media (width>=769px) and (width <=992px) {}

/* X-Large devices (large desktop, upto 1200px and above) */
@media (width>=993px) and (width<=1200px) {}

/* XX-Large devices (larger desktops, upto 1400px and above) */
@media (width>=1200px) {}